#tmsg {
    visibility: hidden;
    min-width: 90vw;
    margin-left: -49vw;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 999;
    left: 50%;
    bottom: 50vh;
    font-size: 1.2em;
    word-wrap: normal;
}

#tmsg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 49vh; opacity: 0;}
    to {bottom: 50vh; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 49vh; opacity: 0;}
    to {bottom: 50vh; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50vh; opacity: 1;}
    to {bottom: 49vh; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50vh; opacity: 1;}
    to {bottom: 49vh; opacity: 0;}
}
